/* Header CSS */
.navWrapper {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 90%;
  border: 1px solid rgb(221, 221, 221);
  display: inline-flex;
  justify-content: space-between;
  height: 50px;

  input {
    outline: none;
    border: none;
    font-size: 14px;
    padding: 0 8px;
    flex: 1 1 0%;
    color: rgb(90, 90, 90);
    font-weight: 100;
    height: 33px;
  }

  button {
    height: 45px;
    width: 50px;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    appearance: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
  }
}

.cartButton {
  background-color: #044DC3;
  color: #fff;
  border-radius: 28px;
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  float: right;
}

.headerBanner {
  background: url("../../../../assets/images/header-background.png");
  display: flex;
  align-items: center;

  .bannerTextWrapper {
    h1 {
      font-size: 35px;
      color: #fff;
      padding: 12px;
    }
  }
}

/* Breadcrumb CSS */
.breadCrumb {
  margin: 0;
  font-size: 12px;

  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    .breadCrumbItem {
      font-size: inherit;
      text-decoration: none;
      color: #555555;

      &:hover {
        color: #185ba5;
      }
    }

    .breadCrumbSeparator {
      margin-left: 8px;
      margin-right: 8px;
      user-select: none;
    }

    .breadCrumbLastItem {
      color: #51B549;
      text-decoration: none;
      font-size: inherit;
      cursor: default;
    }
  }
}

/* ProductList CSS */
.productListWrapper {
  display: grid;
  grid-template-columns: repeat(5, 272px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
}

/* Footer CSS */
.footerContainer {
  background-color: #F2F2F2;
  margin-top: 105px;
  height: 1034px;
  display: flex;
  flex-direction: column;
}

.footerDescription {
  text-align: center;
  margin-top: 100px;
}

.footerDetails {
  display: flex;
  flex-direction: row;
  margin-top: 110px;

  .footerLeftSide {
    max-width: 440px;
    padding-right: 65px;
    border-right: 1px dashed #c1c0c0;

    .footerImageWrapper {
      margin-bottom: 35px;
    }

    .footerSocialWrapper {
      margin-bottom: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 250px;
    }

    .footerText {
      font-size: 15px;
      line-height: 22px;
      color: #000;
    }
  }

  .footerRightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .footerHeaders {
      display: flex;
      flex-direction: column;
      align-items: center;
      h5 {
        font-size: 18px;
        line-height: 23px;
        color: #044DC3;
      }
      a {
        font-size: 15px;
        line-height: 19px;
        color: #000;
        text-decoration: none;
        margin-bottom: 9px;
      }
    }
  }
}

.mobilePromotionWrapper {
  margin-top: 146px;
  display: inline-block;

  .mobilePromotion {
    width: 1480px;
    height: 222px;
    border-radius: 111px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;

    .promotionWrapper {
      position: relative;
    }

    .promotionInfo {
      margin-bottom: 25px;

      .mobileInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 12px;

        div {
          margin-left: 20px;
        }
      }
    }

    .promotionLinks {
      margin-top: 16px;

      img {
        object-position: center;
        object-fit: cover;
        cursor: pointer;
        margin: 12px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .productListWrapper {
    grid-template-columns: repeat(5, 247px);
  }
  .mobilePromotionWrapper {
    .mobilePromotion {
      width: 1360px;
    }
  }
}

@media screen and (max-width: 1380px) {
  .productListWrapper {
    grid-template-columns: repeat(5, 204px);
  }
  .mobilePromotionWrapper {
    .mobilePromotion {
      width: 1140px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .productListWrapper {
    grid-template-columns: repeat(4, 220px);
  }
  .mobilePromotionWrapper {
    .mobilePromotion {
      width: 960px;
    }
  }
  .footerContainer {
    height: 1300px;
  }
  .footerDetails {
    flex-direction: column;
    align-items: center;
    .footerLeftSide {
      border-right: none;
      margin-bottom: 35px;
      padding-right: 0;
      .footerImageWrapper {
        text-align: center;
      }
      .footerSocialWrapper {
        max-width: 100%;
      }
      .footerText {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .productListWrapper {
    grid-template-columns: repeat(3, 236px);
  }
  .navLogo {
    img {
      max-width: 130px;
    }
  }
  .cartButton {
    width: 100px;
  }
  .mobilePromotionWrapper {
    .mobilePromotion {
      width: 770px;
      height: 180px;
      .promotionWrapper {
        img {
          max-height: 280px;
        }
      }
      .promotionInfo {
        margin-bottom: 14px;
      }
      .promotionLinks {
        img {
          max-width: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .navWrapper {
    flex-wrap: wrap;

    .navLogo {
      order: 1;
      margin-bottom: 12px;
    }

    .navCart {
      order: 2;
      margin-bottom: 12px;
    }

    .navInput {
      order: 3;

      .searchInput {
        width: 100%;
      }
    }
  }

  .productListWrapper {
    grid-template-columns: repeat(3, 195px);
  }

  .mobilePromotionWrapper {
    .mobilePromotion {
      width: 640px;
      height: 150px;
      .promotionWrapper {
        img {
          max-height: 220px;
        }
      }
      .promotionInfo {
        margin-bottom: 0;
        p, span {
          font-size: 14px;
        }
      }
      .promotionLinks {
        img {
          max-width: 120px;
        }
      }
    }
  }

  .footerDetails {
    .footerRightSide {
      .footerHeaders {
        a {
          font-size: 12px;
        }
        h5 {
          font-size: 15px;
        }
      }
    }
  }

  .footerDescription {
    font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  .productListWrapper {
    grid-template-columns: repeat(2, 236px);
  }

  .mobilePromotionWrapper {
    display: none;
  }

  .footerContainer {
    height: 960px;
  }
}

@media screen and (max-width: 580px) {
  .productListWrapper {
    grid-template-columns: repeat(1, 336px);
  }
  .navLogo {
    width: 50%;
  }
  .navCart {
    width: 50%
  }
  .navInput {
    width: 100%;
  }

  .footerDetails {
    .footerRightSide {
      flex-direction: column;
      .footerHeaders {
        h5 {
          margin-top: 14px;
        }
      }
    }
  }

  .footerContainer {
    height: 1500px;
  }
}